<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <p class="navbar-brand">My server</p>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <span class="  <% if(active ==="main") {%>active border p-2 border-success rounded<%}%> ">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">
                        <span class="<% if(active ==="products") {%>active p-2 border border-success rounded<%}  %>">Products</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comments">
                        <span class="<% if(active ==="comments") {%>active p-2 border border-success rounded<%}  %>">Comments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/todos">
                        <span class="<% if(active ==="todos") {%>active p-2 border border-success rounded<%}  %>">Todos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">
                        <span class="<% if(active ==="users") {%>active p-2 border border-success rounded<%}  %>">Users</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
