<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
    <body>
        <%- include("./partials/navbar") %>
        <div class="container">
            <p>For send mail use: "/api/sendemail"</p>
            <p>
                For look list of products API:
                <a href="/api/products">products</a>
            </p>
            <p>
                For look list of comments API:
                <a href="/api/comments">comments</a>
            </p>
            <p>
                For look list of todos API:
                <a href="/api/todos">comments</a>
            </p>
        </div>
    </body>
</html>
